HTTP/1.0 200 OK
Date: Tue, 07 Feb 2012 16:10:06 GMT
Expires: Tue, 07 Feb 2012 17:10:06 GMT
Accept-Ranges: bytes
Content-Length: 25181
Cache-Control: max-age=3600
Served-By: kyra
Server: Boston.com Frontend
Content-Encoding: gzip
Content-Type: text/css
Last-Modified: Mon, 06 Feb 2012 16:55:56 GMT
ETag: "10426fc21-189f8-4b84e893b4bdb"
X-Origin-Date: Tue, 07 Feb 2012 15:33:59 GMT
X-Origin-Expires: Tue, 07 Feb 2012 16:33:59 GMT
X-Cache-Age: 1735
X-Cache: HIT from cdce-nym011-016.nym011.internap.com
X-Origin-Date: Tue, 07 Feb 2012 16:02:54 GMT
X-Origin-Expires: Tue, 07 Feb 2012 17:02:54 GMT
X-Cache-Age: 432
X-Cache: HIT from cdce-nym011-016.nym011.internap.com
Via: 1.0 cdce-nym011-016.nym011.internap.com:1081 (squid/2.7.STABLE7), 1.0 cdce-nym011-016.nym011.internap.com:80 (squid/2.7.STABLE7)
Connection: close

